body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-color: #48b;
    font-family: "Rammetto One";
}
.router {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    align-content: space-around;
    width: 100%;
}

form {
    height: 50vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    font-size: 25px;
}
form input {
    font-size: 25px;
    font-family: "Rammetto One";
}

form button {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: "Rammetto One";
}

header {
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
}

h1 {
    background-color: white;
    flex-grow: 0;
}
.site-header {
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
}

.gamebody {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-color: #48b;
}

.sub-header {
    display: flex;
    flex-grow: 1;
    align-self: stretch;
    background: linear-gradient(#ffffff 50%, rgba(255, 255, 255, 0) 0) 0 0,
        radial-gradient(
                circle closest-side,
                #ffffff 53%,
                rgba(255, 255, 255, 0) 0
            )
            0 0,
        radial-gradient(
                circle closest-side,
                #ffffff 50%,
                rgba(255, 255, 255, 0) 0
            )
            55px 0 #48b;
    background-size: 110px 100%;
    background-repeat: repeat-x;
    position: relative;
    /* align-items: baseline; */

    /* display: block; */
}

/* .subheader {
    position: absolute;
} */
.ships-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.battleship {
    height: 90px;
    width: 90px;
}
.periscope {
    height: 80px;
    width: 80px;
}
.cargoship {
    height: 90px;
    width: 90px;
}

.albatross {
    height: 60px;
    width: 60px;
}
.lighthouse {
    height: 80px;
    width: 80px;
}

.pics-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.pirates {
    height: 50px;
    width: 50px;
}

.anchor {
    height: 50px;
    width: 50px;
}
.start {
    height: 50px;
    width: 70px;
    font-weight: bold;
    font-size: 20px;
    background: red;
}

footer {
    margin-top: 25px;
    flex-basis: 100px;
    flex-grow: 0;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
}

.new-game {
    height: 80px;
    width: 80px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 40px;
    border: 5px solid darkblue;
}

.quit {
    height: 80px;
    width: 80px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 40px;
    border: 5px solid black;

    /* display: block; */
}
.waves {
    height: 50px;
    width: 60px;
    /* padding-left: 30px; */
    /* display: block; */
}

.yellowsub {
    height: 70px;
    width: 80px;
}

main {
    flex-grow: 1;
    display: grid;
    align-content: center;
}

.fields-container {
    display: flex;
    justify-content: space-around;
}

.field {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    justify-content: center;
    grid-auto-flow: column;
    outline: 2px solid black;
    width: 350px;
    height: 350px;
}
.field-caption {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.cell {
    box-shadow: inset 1px 1px 0 1px grey;
    width: 35px;
    height: 35px;
    background-color: white;
}
.ship {
    background-color: darkblue;
}
.shot {
    position: relative;
}
.shot::before {
    position: absolute;
    top: 9px;
    left: 10px;
    content: "◉";
}
.hit {
}
.hit::before {
    position: absolute;
    top: 9px;
    left: 10px;
    content: "⨉";
}
